
  
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .card{
    border:  2px solid rgb(236,236,236);
    width: 28%;
    padding: 15px;
    margin: 12px;
    div{
      margin-bottom: 8px;
    }
   

  }
  
  .card-name{
    font-weight: bold;
    display: flex ;
    flex-direction: row;
    .name-div{
      font-size: large;
      font-weight: bold;
    }

  }

  
  .star-div{
    font-style: italic;
    font-size: small;
  }