.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 8px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
  }
  
  .sidebar {
    width: 250px;
    height: 100%;
    background-color: #fff; /* Beyaz arka plan rengi */
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 8px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333; /* Metin rengi */
  }
  